---
title: whk 
summary: My identity in all its forms 
type: person
license: ccbysa
author:
 -
  name: "whk"
  url: "https://whk.name/about/me/#id"
created: 2015-02-08
modified: 2015-02-28
reviewed: 2015-02-28
changefreq: weekly
priority: 1.0
advertising: false
---

<section prefix="wot: http://xmlns.com/wot/0.1/" typeof="Person wot:User" resource="#id" id="id">


<h1>About me</h1>
<div>
<img id="myimage" property="image" typeof="URL" src="/images/whk.jpg">
I am  <span property="name">Warren H Knight</span> (<span property="additionalName">whk</span>) a
<span property="jobTitle">Free Software Enthusiast</span> living in 
<span property="address" typeof="PostalAddress"><span property="addressRegion">Texas</span>, <span property="addressCountry">USA</span></span>. 
My central public online identity and my various other identities online should be able to always be found 
<a property="url" typeof="URL" href="https://whk.name/about/me/#id">here</a>. 
</div>


<h2>Where to find me</h2>

These are my public personal identities for those who may want to reach me.

<table class="identities">
 <thead>
  <tr>
   <th>Site</th>
   <th>Type</th>
   <th>Identity</th>
  </tr>
 </thead>
 <tbody>
 <tr>
  <td><a href="http://www.oftc.net/">oftc</a></td>
  <td>IRC</td>
  <td>whk</td>
 </tr>
 <tr>
  <td><a href="https://freenode.net/">freenode</a></td>
  <td>IRC</td>
  <td>whk</td>
 </tr>
 <tr>
  <td>FSF Server</td>
  <td>XMPP</td>
  <td>whk at member.fsf.org</td>
 </tr>
 <tr>
  <td><a href="https://gitorious.org/">Gitorious</a></td>
  <td>Source Repository</td>
  <td><a property="sameAs" typeof="URL" href="https://gitorious.org/~whk">whk</a></td>
 </tr> 
 <tr>
  <td><a href="https://github.com/">GitHub</a></td>
  <td>Source Repository</td>
  <td><a property="sameAs" typeof="URL" href="https://github.com/ghiknt">ghiknt (whk)</a></td>
 </tr> 
 <tr>
  <td><a href="https://www.zotero.org/">zotero</a></td>
  <td>Research Repository</td>
  <td><a property="sameAs" typeof="URL" href="https://www.zotero.org/wknight">whk</a></td>
 </tr> 
 <tr>
  <td><a href="https://twitter.com/">Twitter</a></td>
  <td>Micro Blog</td>
  <td><a property="sameAs" typeof="URL" href="https://twitter.com/ghiknt">@ghiknt</a></td>
 </tr> 
 <tr>
  <td><a href="https://www.goodreads.com/">goodreads</a></td>
  <td>Social Network</td>
  <td><a property="sameAs" typeof="URL" href="https://www.goodreads.com/WarrenHKnight">Warren Knight</a></td>
 </tr>
 <tr>
  <td><a href="https://plus.google.com/">Google+</a></td>
  <td>Social Network</td>
  <td><a property="sameAs" typeof="URL" href="https://plus.google.com/u/0/101687380861737099309/about">Warren Knight (whk)</a></td>
 </tr>
 <tr>
  <td><a href="https://gratipay.com/">Gratipay</a></td>
  <td>Crowd Funding</td>
  <td><a property="sameAs" typeof="URL" href="https://gratipay.com/whk/">whk</a></td>
 </tr>
 <tr>
  <td><a href="https://www.patreon.com/">patreon</a></td>
  <td>Crowd Funding</td>
  <td><a property="sameAs" typeof="URL" href="https://www.patreon.com/whk">whk</a></td>
 </tr>
 <tr>
  <td><a href="https://www.kickstarter.com">Kickstarter</a></td>
  <td>Crowd Funding</td>
  <td><a property="sameAs" typeof="URL" href="https://www.kickstarter.com/profile/whk">whk</a></td>
 </tr>
</tbody>
</table>


<h2>What I support</h2>

I currently am either a member of or provide financial support to 
the following organizations and projects. 
I support them either because I identify with their goals or because they provide an ongoing
"Value for Value" proposition to me.  If you are looking for a new organization to support or something new to
listen to please check them out.

<table class="identities">
 <thead>
  <tr>
   <th>Organization</th>
   <th>Type</th>
   <th>Comments</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td><a href="https://home.nra.org/home/document/about">National Rifle Association</a></td>
   <td>Firearm Education and Advocacy</td>
   <td>Endowment Member</td>
  </tr>
  <tr>
   <td><a href="https://sfconservancy.org/overview/">software freedom conservancy</a></td>
   <td>FLOSS advocacy</td>
   <td>Conservancy Supporter</td>
  </tr>
  <tr>
   <td><a href="https://www.fsf.org/about/">Free Software Foundation</a></td>
   <td>Free Software Advocacy</td>
   <td>Associate Member</td>
  </tr>
  <tr>
   <td><a href="http://faif.us/">Free as In Freedom</a></td>
   <td>Oggcast</td>
   <td>FLOSS legal and policy discussions</td>
  </tr>
  <tr>
   <td><a href="https://linuxluddites.com/">Linux Luddites</a></td>
   <td>Podcast</td>
   <td>Linux news and discussions</td>
  </tr>
  <tr>
   <td><a href="https://www.patreon.com/acedtect">Daily Tech News Show</a></td>
   <td>Podcast</td>
   <td>Daily Tech News</td>
  </tr>
  <tr>
   <td><a href="https://www.patreon.com/TekThing">TEKTHING</a></td>
   <td>Video Show</td>
   <td>All things tech</td>
  </tr>
  <tr>
   <td><a href="https://www.patreon.com/cordkillers">Cordkillers</a></td>
   <td>Podcast</td>
   <td>News about cord cutting, digital media, and entertainment</td>
  </tr>
  <tr>
   <td><a href="https://www.patreon.com/swordandlaser">Sword & Laser</a></td>
   <td>Podcast</td>
   <td>Science fiction and fantasy book discussions</td>
  </tr>
  <tr>
   <td><a href="http://ratholeradio.org/about/">Rathole Radio</a></td>
   <td>Podcast</td>
   <td>Music (mostly Creative Commons)</td>
  </tr>
 </tbody>
</table>


<h2>Validation</h2>
Currently I am using GPG to sign my code in GIT although I expect I will use it for other purposes as this and my other sites develop.

<table class="gpglist" style="border: 1px solid">
 <thead>
  <tr><th>Key</th><th>ID</th><th>Type</th><th>Fingerprint</th><th>Purpose</th></tr>
 </thead>
 <tbody>
  <tr property="wot:hasKey" typeof="wot:PubKey" resource="#codesign">
   <td><a property="wot:pubkeyAddress" typeof="URL" href="https://whk.name/about/me/whk.asc">GPG</a>
   <td><span property="wot:identity">https://whk.name/about/me (whk) <no-reply@whk.name></span></td>
   <td><span property="wot:length">4096</span>R/<span property="wot:hex_id">3C01BF01</span></td>
   <td><code property="wot:fingerprint">ECA2 1555 D91A 3A44 DD6E  7075 8F50 CC65 3C01 BF01</code></td>
   <td>Code Signing</td>
  </tr>
 </tbody>
</table>

</section>
