---
title: whk 
summary: My identity in all its forms 
type: person
license: ccbysa
author:
 -
  name: "whk"
  url: "https://whk.name/about/me/"
created: 2015-02-08
modified: 2015-02-10
reviewed: 2015-02-10
changefreq: weekly
priority: 1.0
---

<h1>About me</h1>

I am  <span property="v:name name">Warren H Knight</span> (<span property="v:nickname">whk</span>) a
<span property="v:role">Free Software Enthusiast</span> living in 
<span property="v:address" typeof="v:address"><span property="v:region">Texas</span></span>. 
My various identities on other should always be able to be found at
<a property="url v:url" href="https://whk.name/about/me/">&lt;https://whk.name/about/me/&gt;</a> 
which also serves as my central public online identity.  
<span property="wot:hasKey" typeof="wot:PubKey">
  My <a property="wot:pubkeyAddress" href="https://whk.name/about/me/whk.asc">GPG Key</a> for 
  "<span property="wot:identity">https://whk.name/about/me (whk) &lt;no-reply@whk.name&gt;</span>" is 
  <span property="wot:length">4096</span>R/<span property="wot:hex_id">3C01BF01</span> with a fingerprint of
  <code property="wot:fingerprint">ECA2 1555 D91A 3A44 DD6E  7075 8F50 CC65 3C01 BF01</code>
</span>
 


<h1>Where to find me</h1>

<table class="identities">
 <thead>
  <tr>
   <th>Site</th>
   <th>Type</th>
   <th>Identity</th>
  </tr>
 </thead>
 <tbody>
 <tr>
  <td><a href="http://www.oftc.net/">oftc</a></td>
  <td>IRC</td>
  <td>whk</td>
 </tr>
 <tr>
  <td><a href="https://freenode.net/">freenode</a></td>
  <td>IRC</td>
  <td>whk</td>
 </tr>
 <tr>
  <td><a href="https://github.com/">GitHub</a></td>
  <td>Source Repository</td>
  <td><a property="sameAs" href="https://github.com/ghiknt">ghiknt (whk)</a></td>
 </tr> 
 <tr>
  <td><a href="https://twitter.com/">Twitter</a></td>
  <td>Micro Blog</td>
  <td><a property="sameAs" href="https://twitter.com/ghiknt">@ghiknt</a></td>
 </tr> 
 <tr>
  <td><a href="https://www.goodreads.com/">goodreads</a></td>
  <td>Social Network</td>
  <td><a property="sameAs" href="https://www.goodreads.com/WarrenHKnight">Warren Knight</a></td>
 </tr>
 <tr>
  <td><a href="https://plus.google.com/">Google+</a></td>
  <td>Social Network</td>
  <td><a property="sameAs" href="https://plus.google.com/u/0/101687380861737099309/about">Warren Knight (whk)</a></td>
 </tr>
 <tr>
  <td><a href="https://gratipay.com/">Gratipay</a></td>
  <td>Crowd Funding</td>
  <td><a property="sameAs" href="https://gratipay.com/whk/">whk</a></td>
 </tr>
 <tr>
  <td><a href="https://www.patreon.com/">patreon</a></td>
  <td>Crowd Funding</td>
  <td><a property="sameAs" href="https://www.patreon.com/whk">whk</a></td>
 </tr>
 <tr>
  <td><a href="https://www.kickstarter.com">KICKSTARTER</a></td>
  <td>Crowd Funding</td>
  <td><a property="sameAs" href="https://www.kickstarter.com/profile/whk">whk</a></td>
 </tr>
</tbody>
</table>

