---
title: whk 
summary: My identity in all its forms 
type: person
license: ccbysa
author:
 -
  name: "whk"
  url: "https://whk.name/about/me/#id"
created: 2015-02-08
modified: 2015-06-21
reviewed: 2015-06-21
changefreq: weekly
priority: 1.0
advertising: false
---

<section property="about" typeof="Person foaf:Person wot:User" resource="#id" id="id">

<section id="summary">
<h1>About <span property="foaf:name name">whk</span></h1>
<img id="myimage" property="foaf:img image" alt="Stylalized picture of WHK" typeof="URL" src="/images/dwarves/whk_dwarf_sword_386x500.png">
<a property="foaf:homepage" typeof="URL" href="https://whk.name/about/me/">This</a> is my primary public online identity and includes links to my other identities around the world. 
</section>

<section id="where">
<h2>Where to find me</h2>
<table class="identities">
 <thead>
  <tr>
   <th>Site</th>
   <th>Type</th>
   <th>Identity</th>
  </tr>
 </thead>
 <tbody>
 <tr>
  <td property="address" typeof="PostalAddress"><span property="addressRegion">Texas</span>, <span property="addressCountry">USA</span></td>
  <td>IRL</td>
  <td><span property="additionalName">Warren H Knight</span></td>
 </tr>
 <tr property="foaf:account" typeof="foaf:OnlineChatAccount" >
  <td><a property="accountServiceHomepage" typeof="URL" href="http://www.oftc.net/">oftc</a></td>
  <td>IRC</td>
  <td property="foaf:accountName">whk</td>
 </tr>
 <tr property="foaf:account" typeof="foaf:OnlineChatAccount">
  <td><a property="accountServiceHomepage" typeof="URL" href="https://freenode.net/">freenode</a></td>
  <td>IRC</td>
  <td property="foaf:accountName">whk</td>
 </tr>
 <tr>
  <td>FSF Server</td>
  <td>XMPP</td>
  <td property="foaf:jabberID">whk@member.fsf.org</td>
 </tr>
 <tr>
  <td><a href="https://github.com/">GitHub</a></td>
  <td>Source Repository</td>
  <td><a property="sameAs" typeof="URL" href="https://github.com/ghiknt">ghiknt (whk)</a></td>
 </tr> 
 <tr>
  <td><a href="https://taiga.io/">Taiga</a></td>
  <td>Agile tool</td>
  <td><a property="sameAs" typeof="URL" href="https://tree.taiga.io/profile/whk">whk</a></td>
 <tr>
  <td><a href="https://www.zotero.org/">zotero</a></td>
  <td>Research Repository</td>
  <td><a property="sameAs" typeof="URL" href="https://www.zotero.org/wknight">whk</a></td>
 </tr> 
 <tr>
  <td><a href="https://twitter.com/">Twitter</a></td>
  <td>Micro Blog</td>
  <td><a property="sameAs" typeof="URL" href="https://twitter.com/ghiknt">@ghiknt</a></td>
 </tr> 
 <tr>
  <td><a href="https://www.goodreads.com/">goodreads</a></td>
  <td>Social Network</td>
  <td><a property="sameAs" typeof="URL" href="https://www.goodreads.com/WarrenHKnight">Warren Knight</a></td>
 </tr>
 <tr>
  <td><a href="https://plus.google.com/">Google+</a></td>
  <td>Social Network</td>
  <td><a property="sameAs" typeof="URL" href="https://plus.google.com/u/0/101687380861737099309/about">Warren Knight (whk)</a></td>
 </tr>
 <tr>
  <td><a href="https://www.patreon.com/">patreon</a></td>
  <td>Crowd Funding</td>
  <td><a property="sameAs" typeof="URL" href="https://www.patreon.com/whk">whk</a></td>
 </tr>
 <tr>
  <td><a href="https://www.kickstarter.com">Kickstarter</a></td>
  <td>Crowd Funding</td>
  <td><a property="sameAs" typeof="URL" href="https://www.kickstarter.com/profile/whk">whk</a></td>
 </tr>
 <tr>
  <td><a href="https://gratipay.com/">Gratipay</a></td>
  <td>Crowd Funding</td>
  <td><a property="sameAs" typeof="URL" href="https://gratipay.com/whk/">whk</a></td>
 </tr>
 <tr>
  <td><s>Gitorious</s></td>
  <td>Defunct Source Repository</td>
  <td><s><a property="sameAs" typeof="URL" href="https://gitorious.org/~whk">whk</a></s></td>
 </tr> 
</tbody>
</table>
</section>

<section id="orgs">
<h2>Organizations</h2>
I am either a member, provide support to, or am a fan of the following civil society organizations
<table class="identities">
 <thead>
  <tr>
   <th>Organization</th>
   <th>Type</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td><a href="https://home.nra.org/home/document/about">National Rifle Association</a></td>
   <td>Firearm Education and Advocacy</td>
  </tr>
  <tr>
   <td><a href="https://sfconservancy.org/">Software Freedom Conservancy</a></td>
   <td>FLOSS advocacy</td>
  </tr>
  <tr>
   <td><a href="https://www.fsf.org/about/">Free Software Foundation</a></td>
   <td>Free Software Advocacy</td>
  </tr>
 </tbody>
</table>
</section>

<section id="entertainment">
<h2>Top N Recuring Entertainment</h2>

<p>This is the top N list of the recuring media that I am currently consuming.  
The priority is based totally on personnal preference and the amount of
effort I go to to make sure I catch each show.

<p>For those shows that I support based on the Value for Value model I base my support on

<ul>
 <li> Applicability to my interests
 <li> Open License with extra value given to 
  <a href="https://creativecommons.org/about/cc0">CC0</a>, 
  <a href="https://creativecommons.org/licenses/by/4.0/">CC BY</a> and
  <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a> licenses.
 <li> General enjoyment
 <li> Audio Podcatcher and format friendly
 <li> Duration (up to a point)
</ul> 

<table class="identities">
 <thead>
  <tr>
   <th>Show</th>
   <th>Topic</th>
   <th>License</th>
   <th>Access</th>
   <th>Value for Value</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td><a href="http://faif.us/">Free as In Freedom</a></td>
   <td>FLOSS legal and policy discussions</td>
   <td><a href="http://faif.us/license/">CC BY-SA 3.0 USA</a></td>
   <td><a href="http://faif.us/feeds/cast-ogg/">Audio OGG RSS</a></td>
   <td>Y</td>
  </tr>
  <tr>
   <td><a href="http://twit.tv/show/security-now">Security Now</a></td>
   <td>Tech Security News</td>
   <td>CC BY-NC-ND 4.0 Intl</td>
   <td><a href="http://feeds.twit.tv/sn.xml"</a>Audio RSS</a></td>
  </tr>
  <tr>
   <td><a href="https://linuxluddites.com/">Linux Luddites</a></td>
   <td>Linux news and discussions</td>
   <td><a href="https://linuxluddites.com/">CC BY-NC 4.0 Intl</a></td>
   <td><a href="http://feeds.feedburner.com/LinuxLudditesOgg">Audio OGG RSS</a></td>
   <td>Y</td>
  </tr>
  <tr>
   <td><a href="https://www.patreon.com/acedtect?rf=382922">Daily Tech News Show</a></td>
   <td>Daily Tech News</td>
   <td><a href="http://www.dailytechnewsshow.com/about/">CC BY-SA</a></td>
   <td><a href="http://feeds.feedburner.com/DailyTechNewsShow">Audio RSS</a></td>
   <td>Y</td>
  </tr>
  <tr>
   <td><a href="http://www.libertarianism.org/media/free-thoughts">Free Thoughts</a></td>
   <td>A show about libertarianism and the ideas that influence it</td>
   <td>All Rights Reserved</td>
   <td><a href="http://www.libertarianism.org/rss/podcast/free-thoughts">Audio RSS</a>
  </tr>
  <tr>
   <td><a href="http://twit.tv/show/floss-weekly">FLOSS Weekly</a></td>
   <td>FLOSS Project Discussions</td>
   <td>CC BY-NC-ND 4.0 Intl</td>
   <td><a href="http://feeds.twit.tv/floss.xml"</a>Audio RSS</a></td>
  </tr>
  <tr>
   <td><a href="http://twit.tv/show/this-week-in-law">This Week in Law</a></td>
   <td>Technology Law discussions</td>
   <td>CC BY-NC-ND 4.0 Intl</td>
   <td><a href="http://feeds.twit.tv/twil.xml"</a>Audio RSS</a></td>
  </tr>
  <tr>
   <td><a href="https://www.patreon.com/swordandlaser?rf=382922">Sword & Laser</a></td>
   <td>Science fiction and fantasy book discussions</td>
   <td>All Rights Reserved (unmarked)</td>
   <td><a href="http://feeds.feedburner.com/TheSwordAndLaser">Audio RSS</a></td>
   <td>Y</td>
  </tr>
  <tr>
   <td><a href="http://www.thetalkingmachines.com/">Talking Machines</a></td>
   <td>Machine Learning Discussions</td>
   <td>All Rights Reserved (unmarked)</td>
   <td><a href="http://feeds.feedburner.com/Episodes-TalkingMachines">Audio RSS</a></td>
  </tr>
  <tr>
   <td><a href="http://twit.tv/show/all-about-android">All About Android</a></td>
   <td>Android news</td>
   <td>CC BY-NC-ND 4.0 Intl</td>
   <td><a href="http://feeds.twit.tv/aaa.xml"</a>Audio RSS</a></td>
  </tr>
  <tr>
   <td><a href="http://ratholeradio.org/">Rathole Radio</a></td>
   <td>Music (mostly Creative Commons)</td>
   <td>Original content <a href="http://ratholeradio.org/about/">CC BY-SA 2.0 UK</a>, Songs: As marked</td>
   <td><a href="http://feeds2.feedburner.com/RatholeRadio-ogg">Audio OGG RSS</a>
   <td>Y</td>
  </tr>
  <tr>
   <td><a href="http://twit.tv/show/this-week-in-enterprise-tech">This Week in Enterprise Tech</a></td>
   <td>Enterprise Tech news</td>
   <td>CC BY-NC-ND 4.0 Intl</td>
   <td><a href="http://feeds.twit.tv/twiet.xml"</a>Audio RSS</a></td>
  </tr>
  <tr>
   <td><a href="https://www.patreon.com/cordkillers?rf=382922">Cordkillers</a></td>
   <td>News about cord cutting, digital media, and entertainment</td>
   <td>All Rights Reserved (unmarked)</td>
   <td><a href="http://feeds.feedburner.com/Cordkillers">Audio RSS</a></td>
   <td>Y</td>
  </tr>
  <tr>
   <td><a href="http://twit.tv/show/this-week-in-computer-hardware">This Week in Computer Hardware</a></td>
   <td>Computer Hardware news</td>
   <td>CC BY-NC-ND 4.0 Intl</td>
   <td><a href="http://feeds.twit.tv/twich.xml"</a>Audio RSS</a></td>
  </tr>
  <tr>
   <td><a href="https://www.patreon.com/ThePhileasClub?rf=382922">The Phileas Club</a></td>
   <td>Monthly world news discussions</td>
   <td>All Rights Reserved</td>
   <td><a href="http://feeds.feedburner.com/ThePhileasClub">Audio RSS</a></td>
   <td>Y</td>
  </tr>
  <tr>
   <td><a href="http://www.blogtalkradio.com/e2radio">UBM Tech Radio</a></td>
   <td>Audio home of Interop, InformationWeek, Dark Reading, Network Computing...</td>
   <td>All Rights Reserverd</td>
   <td><a href="http://www.blogtalkradio.com/e2radio/podcast">Audio RSS</a>
  </tr>
  <tr>
   <td><a href="http://twit.tv/show/know-how">Know How...</a></td>
   <td>Tech Projects</td>
   <td>CC BY-NC-ND 4.0 Intl</td>
   <td><a href="http://feeds.twit.tv/kh.xml"</a>Audio RSS</a></td>
  </tr>
  <tr>
   <td><a href="https://www.patreon.com/TekThing?rf=382922">TekThing</a></td>
   <td>All things tech</td>
   <td>All Rights Reserved (unmarked)</td>
   <td><a href="https://www.youtube.com/channel/UC6sWaC11f4mxnizvOroOvkQ">YouTube</a></td>
   <td>Y</td>
  </tr>
 </tbody>
</table>
</section>

<section id="gpg">
<h2>Validation</h2>
Currently I am using GPG to sign my code in GIT although I expect I will use it for other purposes as this and my other sites develop.

<table class="gpglist" style="border: 1px solid">
 <thead>
  <tr><th>Key</th><th>ID</th><th>Type</th><th>Fingerprint</th><th>Purpose</th></tr>
 </thead>
 <tbody>
  <tr property="wot:hasKey" typeof="wot:PubKey" resource="#codesign">
   <td><a property="wot:pubkeyAddress" typeof="URL" href="https://whk.name/about/me/whk.asc">GPG</a>
   <td><span property="wot:identity">https://whk.name/about/me (whk) &lt;no-reply@whk.name&gt;</span></td>
   <td><span property="wot:length">4096</span>R/<span property="wot:hex_id">3C01BF01</span></td>
   <td><code property="wot:fingerprint">ECA2 1555 D91A 3A44 DD6E  7075 8F50 CC65 3C01 BF01</code></td>
   <td>Code Signing</td>
  </tr>
 </tbody>
</table>
</section>
</section>
