---
title: Me
summary: This site should be the first place to look to find where I am currently hanging out. 
type: person
license: ccbysa
author:
 -
  name: "whk"
  url: "https://whk.name/"
created: 2015-02-08
modified: 2015-02-08
reviewed: 2015-02-08
---


<div property="about" typeof="Person">


<h2>Details</h2>

<ul>
 <li>Name:
  <span property="name">whk</span>
  (<span property="givenName">Warren</span>
  <span property="additionalName">H</span>
  <span property="familyName">Knight</span>)
 <li>Web Site: <a property="url" href="https://whk.name/">&lt;https://whk.name/&gt;</a>
</ul
>


<h2>Where to find me</h2>

<table class="identities">
 <thead>
  <tr>
   <th>Site</th>
   <th>Type</th>
   <th>Identity</th>
  </tr>
 </thead>
 <tbody>
 <tr>
  <td><a href="http://www.oftc.net/">oftc</a></td>
  <td>IRC</td>
  <td>whk</td>
 </tr>
 <tr>
  <td><a href="https://freenode.net/">freenode</a></td>
  <td>IRC</td>
  <td>whk</td>
 </tr>
 <tr>
  <td><a href="https://github.com/">GitHub</a></td>
  <td>Source Repository</td>
  <td><a property="sameAs" href="https://github.com/ghiknt">ghiknt (whk)</a></td>
 </tr> 
 <tr>
  <td><a href="https://twitter.com/">Twitter</a></td>
  <td>Micro Blog</td>
  <td><a property="sameAs" href="https://twitter.com/ghiknt">@ghiknt</a></td>
 </tr> 
 <tr>
  <td><a href="https://www.goodreads.com/">goodreads</a></td>
  <td>Social Network</td>
  <td><a property="sameAs" href="https://www.goodreads.com/WarrenHKnight">Warren Knight</a></td>
 </tr>
 <tr>
  <td><a href="https://plus.google.com/">Google+</a></td>
  <td>Social Network</td>
  <td><a property="sameAs" href="https://plus.google.com/u/0/101687380861737099309/about">Warren Knight (whk)</a></td>
 </tr>
 <tr>
  <td><a href="https://gratipay.com/">Gratipay</a></td>
  <td>Crowd Funding</td>
  <td><a property="sameAs" href="https://gratipay.com/whk/">whk</a></td>
 </tr>
 <tr>
  <td><a href="https://www.patreon.com/">patreon</a></td>
  <td>Crowd Funding</td>
  <td><a property="sameAs" href="https://www.patreon.com/whk">whk</a></td>
 </tr>
 <tr>
  <td><a href="https://www.kickstarter.com">KICKSTARTER</a></td>
  <td>Crowd Funding</td>
  <td><a property="sameAs" href="https://www.kickstarter.com/profile/whk">whk</a></td>
 </tr>
</tbody>
</table>
</div>
