---
title: Thoughts 
summary: My central site for things I am working on and thinking about no matter how trivial
license: ccbysa
author:
 -
  name: "whk"
  url: "https://whk.name/about/me/#id"
created: 2015-02-10
modified: 2015-02-28
reviewed: 2015-02-28
toc: ignore
---

<h2>Site Structure</h2>

This site is broken down into several areas

<ul>
 <li> The <a href="/cookbook/">Cookbook</a> section is intended to grow into a software development and integration cookbook with recipes describing how to perform a specific task.

 <li> The <a href="/config/">Config</a> section gives the verbatim steps used to perform an action.  They can be used to try to reproduce a specific configuration or as a reference on what was needed to complete an action.

 <li> The <a href="/about/">About</a> section gives general information about this site and me.

</ul>

<h2>Current Writings</h2>
Here are the last ten pages that have been modified

<%= recentactivity %>

