---
title: Gentoo 
license: ccbysa
summary: Configurations specific to Gentoo Linux.
disclaimers: 
 - Gentoo is a trademark of Gentoo Foundation, Inc. See <a href="/about/licensing/#trademark-usage">trademark usage</a> for additional details
type: toc
---

