---
title: Gentoo Configs 
license: ccbysa
summary: "Configurations specific to Gentoo Linux"
disclaimers: 
 - Gentoo is a trademark of Gentoo Foundation, Inc. See <a href="/about/licensing/#trademark-usage">trademark usage</a> for additional details
---

<h1>Gentoo Configs</h1> 
<section>
<h2>Contents</h2>
<%= listchildren %>
</section>


