---
title: Gentoo Recipes
license: ccbysa
summary: Common Gentoo tasks
type: toc
disclaimers: 
 - Gentoo is a trademark of Gentoo Foundation, Inc. See <a href="/about/licensing/#trademark-usage">trademark usage</a> for additional details
---

