urlset {
width: 100%;
}
url {
display: block;
margin-bottom: 30pt;
margin-left: 0;
}

loc {
color: #FF0000;
font-size: 20pt;
}

lastmod, changefreq,priority {
display: block;
color: #000000;
margin-left: 20pt;
}

