/*
 SCSS system for Sass filter
  http://sass-lang.com

 CSS styling modified from asciidoc-xhtml11.css
*/

/* Open Sans font from Goolge Web fonts */
$weightnormal: 300;
$weightbold: 700;
@import url("http://fonts.googleapis.com/css?family=Open+Sans:#{$weightnormal},#{$weightbold}");
$textfonts: 'Open Sans', Times, 'Times New Roman', sans-serif;
@import url("http://fonts.googleapis.com/css?family=Source+Code+Pro:300,700");
$codefonts:  'Source Code', Courier, 'Courier New', monospace;


/* Colors */
$color-background: Window;
$textcolor: WindowText;

$bordercolor: WindowText;
$border-background: Window;

$noticecolor: Highlight;
$noticetext: HighlightText;
$backgroundhilight: $color-background;

$header-background: Menu;
$header-textcolor: MenuText;


/* Sizes */

$borderwidth: 1px;

$pagemargin: 5px;
$padding: 5px;
$paddingleft: 1.0em;
$top-start: $pagemargin;


$left: 0.5em;
$right: 0.5em;
$footer-content: 70px;

/*
$fontsize:         1.0em;

$fontsize-biggest:  $fontsize + 0.5em;

$fontsize-title:    $fontsize + 0.5em; 

$fontsize-h1:       $fontsize + 0.4em;
$fontsize-h2:       $fontsize + 0.3em;
$fontsize-h3:       $fontsize + 0.2em;
$fontsize-h4:       $fontsize + 0.1em;

$fontsize-admonition: $fontsize-h4;


$fontsize-bigger:   $fontsize-h4;

$fontsize-small:    $fontsize - 0.1em;
$fontsize-smaller:  $fontsize - 0.2em;
$fontsize-smallest: $fontsize - 0.3em;
*/


$fontsize:         16px;

$fontsize-biggest:  $fontsize + 10px;

$fontsize-title:    $fontsize + 10px; 

$fontsize-h1:       $fontsize + 8px;
$fontsize-h2:       $fontsize + 6px;
$fontsize-h3:       $fontsize + 4px;
$fontsize-h4:       $fontsize + 2px;

$fontsize-admonition: $fontsize-h4;

$fontsize-bigger:   $fontsize-h4;

$fontsize-small:    $fontsize - 1px;
$fontsize-smaller:  $fontsize - 2px;
$fontsize-smallest: $fontsize - 3px;



/* Responsive design change width */
$switch-width: 800px;



/* Set html5 semantic elements to block for browsers that don't
   know about them yet
   http://www.w3.org/wiki/HTML_structural_elements#HTML5_element_support
*/
article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block;
}

/* mixin's */

@mixin footer-image($url)  
{
 height: $footer-content - ( $padding * 2) ;
 padding: $padding;
 background-size: auto;
 background-repeat: no-repeat;
 background-position: center;
 background-image: url($url);
}

* {
  font-family: $textfonts;
  font-weight: $weightnormal;
}

/************ Responsive changes ***************************/
@media all and (max-width: $switch-width ) {
 body {
  /* Allow words to break anywhere so it fits width of screen */
  word-wrap: break-word;
 }
 pre {
  /* But not in pre sections we overflow auto them already*/
  word-wrap: normal;
 }
 section#header {
 #google {
   #ad {
    display: block;
    width: 92%;
   }
   #search {
    display: block;
    width: 95%;
   }
 }
 }
} 


@media all and (min-width: $switch-width +1 ) {
 section#header {
 #google {
   #ad {
    display: inline-block;
    width: 65%;
   }
   #noad {
    display: inline-block;
    width: 65%;
   }
   #search {
    display: inline-block;
    width: 29%;
   }
 }
 }
}


body {
  background-color: $border-background;
  left: 0px;
  right: 0px;
  margin: 0px;
  color: $textcolor;
  font-size: $fontsize;

 section#header {
  background-color: $header-background;
  text-color: $header-textcolor;

  a:link, a:visited {
   background-color: $header-background;
   text-color: $header-textcolor;
   color: $textcolor;
   text-decoration: none;
  }
  /* The google block */
  #google {
    #ad {
      font-size: $fontsize-smallest;
      border: 1px groove;
      margin: 0.5em;
      padding: 0.5em;

      #label {
        position: relative;
        top: -1.1em;
        margin: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border: 0px;
        background-color: $header-background;
      }


      .adsbygoogle {
        position: relative;
        top: -1em;
      }

    }
    #search {
      margin: 0.5em;
      vertical-align: top;
      .gsc-control-cse, .gsc-control-wrapper-cse {
        background-color: $header-background !important;
        text-color: $header-textcolor !important;
        border-bottom-color: ButtonShadow !important;
        border-right-color: ButtonShadow !important;
        border-left-color: ButtonHighlight !important;
        border-top-color: ButtonHighlight !important;
      }
    }
  }

  /* The navigation block */
  div#navblock {
    #logospan {
     display: inline-block;
     img#logo {
      height: 70px;
      margin: $padding;
      background:url(/images/androidify-whk.png) 0 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
     }
    }
    #navspan {
      display: inline-block;
      vertical-align: top;
      div#title {
        font-size: $fontsize-title;
        font-family: $codefonts;
        font-weight: $weightbold;
      }
 
      span.menuitem {
        font-size: $fontsize-bigger;
        padding: $padding;
      }
      span.menuitem:hover {
        border: solid 1px;
        border-bottom-color: ButtonHighlight;
        border-right-color: ButtonHighlight;
        border-left-color: ButtonShadow;
        border-top-color: ButtonShadow; 
      } 
      div#breadcrumb {
        font-size: $fontsize-smallest;
        span:hover {
          border: solid 1px;
          border-bottom-color: ButtonHighlight;
          border-right-color: ButtonHighlight;
          border-left-color: ButtonShadow;
          border-top-color: ButtonShadow; 
        } 
      }
    }
  }
}

main {
  background-color: $color-background;
  min-height: 15em;
  margin: $padding;

   h1.title {
     fontsize: $fontsize-title;
   }

   /* Each section should indent */
   section {
     margin-left: $paddingleft;
   }


  /* Details disclosure panel */
  details  {
    background-color: $header-background;
    text-color: $header-textcolor;
    border: solid 1px;
    border-bottom-color: ButtonShadow;
    border-right-color: ButtonShadow;
    border-left-color: ButtonHighlight;
    border-top-color: ButtonHighlight;
    font-size: $fontsize-smaller;
    a:link, a:visited {
     background-color: $header-background;
     text-color: $header-textcolor;
     color: $textcolor;
    }
    summary {
      font-size: $fontsize-small;
    }
  }

  img#myimage {
    float: left;
    height: 4em;
    padding-right: 1em;

  }

  table.gpglist {
    width: 95%;
    text-align: center;
    border-collapse: collapse;
    //border: 1px solid;
    th, td {
     border: 1px solid;
    }
    thead {
      font-size: $fontsize-h3;
      font-weight: $weightbold;
    }
    a:link, a:visited {
      text-color: $textcolor;
      color: $textcolor;
    }
     a:hover, a:active {
      text-color: $noticetext;
      color: $noticetext;
      background: $noticecolor;
    }

  }

  /* Identities table on personal page */ 
  table.identities {
    width: 96%;
    text-align: center;
    thead {
      font-size: $fontsize-h3;
      font-weight: $weightbold;
    }
     a:link,  a:visited {
      text-color: $textcolor;
      color: $textcolor;
    }
     a:hover, a:active {
      text-color: $noticetext;
      color: $noticetext;
      background: $noticecolor;
    }
  }

  .references, .footnotes {
    font-size: $fontsize-smaller;
  }

  span.citation sup {
    font-size: $fontsize-smallest;
  }

}

footer {
  font-size: $fontsize-smaller;
  border-top: $borderwidth solid $bordercolor;
  background-color: $header-background;
  text-color: $header-textcolor;
  min-height: 80px;
  a:link, a:visited {
   background-color: $header-background;
   text-color: $header-textcolor;
   color: $textcolor;
  }
  div#footer-text
  {
    margin-left: 100px;
    margin-right: 100px;
  }
  div#footer-badges-left
  {
    float: left;
  }
  div#footer-badges-right
  {
    float: right;
  }
  img#osi
  {
     @include footer-image("http://www.opensource.org/trademarks/opensource/web/opensource-55x48.gif");
  }
  img#creativecommons
  {
     @include footer-image("https://i.creativecommons.org/l/by-sa/3.0/us/88x31.png");
     width: 88px;
     padding:  $padding;
  }
  img#agpl
  {
     @include footer-image("/images/agplv3-88x31.png");
     width: 88px;
     padding:  $padding;
  }
  img#gfdl
  {
     @include footer-image("/images/gfdl-logo-tiny.png");
     width: 88px;
     padding:  $padding;
  }
  img#hacker-emblem
  {
     @include footer-image("/images/glider.png");
  }
}


}


.draft {
  clear: both;
  color: red;
  font-size: $fontsize;
  border: solid 3px;
  h1 {
    text-align: center;
    border: none;
    letter-spacing: 1em;
    color: red;
    font-size: $fontsize-biggest;
  }
}



h1 {
  font-size: $fontsize-h1;
}
h2 {
  font-size: $fontsize-h2;
}
h3 {
  font-size: $fontsize-h3;
}
h4 {
  font-size: $fontsize-h4;
}

/* Monospace font. */
tt,code {
  font-size: inherit;
  font-family: $codefonts;
  color: $textcolor;
  span {
    // Inherit font settings
    font-size: inherit;
    font-family: inherit;
    color: inherit;
  }
}
em {
  font-style: italic;
}

strong, b {
  font-weight: $weightbold;
}

h1, h2, h3, h4, h5, h6 {
  color: $textcolor;
  margin-top: $padding;
  margin-bottom: $padding;
  line-height: 1.3;
}

h1, h2, h3 {
  border-bottom: $borderwidth+1px solid $bordercolor;
}
h2 {
  padding-top: $padding;
}


hr {
  border: $borderwidth solid $bordercolor;
}

p {
  margin-top: $padding;
  margin-bottom: $padding;
}

ul, ol {
  padding-left: $paddingleft;
}

ul, ol, li > p {
  margin-top: 0;
}
ul > li     { color: $textcolor; }
ul > li > * { color: $textcolor; }

pre {
  padding: 0;
  margin: 0;
}

div#preamble {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
div.tableblock, div.imageblock, div.exampleblock, div.verseblock,
div.quoteblock, div.literalblock, div.listingblock, div.sidebarblock,
div.admonitionblock {
  margin-top: 1.0em;
  margin-bottom: 1.5em;
}
div.admonitionblock {
  margin-top: 2.0em;
  margin-bottom: 2.0em;
  margin-right: 10%;
  color: $noticetext;
  background: $noticecolor;  
}


div.content { /* Block element content. */
  padding: 0;
}

dl {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
dt {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-style: $textfonts;
  color: $textcolor;
}
dd > *:first-child {
  margin-top: 0.1em;
}
dd {
  font-style: $textfonts;
  margin-left: 1.0em;
  font-size: $fontsize-small
}

/********************* start review here **********************************/
/* Block element titles. */
div.title, caption.title {
  color: $textcolor;
  font-weight: $weightbold;
  text-align: left;
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}
div.title + * {
  margin-top: 0;
}

td div.title:first-child {
  margin-top: 0.0em;
}
div.content div.title:first-child {
  margin-top: 0.0em;
}
div.content + div.title {
  margin-top: 0.0em;
}

div.sidebarblock > div.content {
  background: $backgroundhilight;
  border: $borderwidth solid $bordercolor;
  border-left: $borderwidth + 3px solid $bordercolor;
  padding: 0.5em;
}

div.listingblock > div.content {
  border: $borderwidth solid $bordercolor;
  border-left: $borderwidth solid $bordercolor;
  background: $backgroundhilight;
  padding: 0.5em;
}

div.quoteblock, div.verseblock {
  padding-left: 1.0em;
  margin-left: 1.0em;
  margin-right: 10%;
  border-left: $padding solid #f0f0f0;
  color: $textcolor;
}

div.quoteblock > div.attribution {
  padding-top: 0.5em;
  text-align: right;
}

div.verseblock > pre.content {
  font-family: inherit;
  font-size: inherit;
}
div.verseblock > div.attribution {
  padding-top: 0.75em;
  text-align: left;
}
/* DEPRECATED: Pre version 8.2.7 verse style literal block. */
div.verseblock + div.attribution {
  text-align: left;
}

div.admonitionblock .icon {
  vertical-align: top;
  font-size: $fontsize-admonition;
  font-weight: $weightbold;
  text-decoration: underline;
  color: $textcolor;
  padding-right: 0.5em;
}
div.admonitionblock td.content {
  padding-left: 0.5em;
  border-left: 3px solid #dddddd;
}

div.exampleblock > div.content {
  border-left: 3px solid #dddddd;
  padding-left: 0.5em;
}

div.imageblock div.content { padding-left: 0; }
span.image img { border-style: none; }

ul, ol {
  list-style-position: outside;
}
ol.arabic {
  list-style-type: decimal;
}
ol.loweralpha {
  list-style-type: lower-alpha;
}
ol.upperalpha {
  list-style-type: upper-alpha;
}
ol.lowerroman {
  list-style-type: lower-roman;
}
ol.upperroman {
  list-style-type: upper-roman;
}

div.compact ul, div.compact ol,
div.compact p, div.compact p,
div.compact div, div.compact div {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

div.tableblock > table {
  border: $borderwidth + 2px solid $bordercolor;
}
thead, p.table.header {
  font-weight: $weightbold;
  color: $textcolor;
}
tfoot {
  font-weight: $weightbold;
}
td > div.verse {
  white-space: pre;
}
p.table {
  margin-top: 0;
}
/* Because the table frame attribute is overriden by CSS in most browsers. */
div.tableblock > table[frame="void"] {
  border-style: none;
}
div.tableblock > table[frame="hsides"] {
  border-left-style: none;
  border-right-style: none;
}
div.tableblock > table[frame="vsides"] {
  border-top-style: none;
  border-bottom-style: none;
}


div.hdlist {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
div.hdlist tr {
  padding-bottom: 15px;
}
dt.hdlist1.strong, td.hdlist1.strong {
  font-weight: $weightbold;
}
td.hdlist1 {
  vertical-align: top;
  font-style: normal;
  padding-right: 0.8em;
  color: $textcolor;
}
td.hdlist2 {
  vertical-align: top;
}
div.hdlist.compact tr {
  margin: 0;
  padding-bottom: 0;
}

.comment {
  background: yellow;
}

.footnote, .footnoteref {
  font-size: $fontsize-smaller;
}

span.footnote, span.footnoteref {
  vertical-align: super;
}

#footnotes {
  margin: 20px 0 20px 0;
  padding: 7px 0 0 0;
}

#footnotes div.footnote {
  margin: 0 0 $padding 0;
}

#footnotes hr {
  border: none;
  border-top: $borderwidth solid $bordercolor;
  height: 1px;
  text-align: left;
  margin-left: 0;
  width: 20%;
  min-width: 100px;
}

div.colist {
  padding-left: $paddingleft - 1em;
}

div.colist td {
  padding-right: 0.5em;
  padding-bottom: 0.3em;
  vertical-align: top;
}
div.colist td img {
  margin-top: 0.3em;
}

@media print {
  div#footer-badges { display: none; }
}

div#toc {
  margin-bottom: 2.5em;
}

div#toctitle {
  color: $textcolor;
  font-size: $fontsize-h2;
  font-weight: $weightbold;
  margin-top: 1.0em;
  margin-bottom: 0.1em;
}

div.toclevel1, div.toclevel2, div.toclevel3, div.toclevel4 {
  margin-top: 0;
  margin-bottom: 0;
}
div.toclevel2 {
  margin-left: 2em;
  font-size: $fontsize-small;
}
div.toclevel3 {
  margin-left: 4em;
  font-size: $fontsize-small;
}
div.toclevel4 {
  margin-left: 6em;
  font-size: $fontsize-small;
}

span.aqua { color: aqua; }
span.black { color: black; }
span.blue { color: blue; }
span.fuchsia { color: fuchsia; }
span.gray { color: gray; }
span.green { color: green; }
span.lime { color: lime; }
span.maroon { color: maroon; }
span.navy { color: navy; }
span.olive { color: olive; }
span.purple { color: purple; }
span.red { color: red; }
span.silver { color: silver; }
span.teal { color: teal; }
span.white { color: white; }
span.yellow { color: yellow; }

span.aqua-background { background: aqua; }
span.black-background { background: black; }
span.blue-background { background: blue; }
span.fuchsia-background { background: fuchsia; }
span.gray-background { background: gray; }
span.green-background { background: green; }
span.lime-background { background: lime; }
span.maroon-background { background: maroon; }
span.navy-background { background: navy; }
span.olive-background { background: olive; }
span.purple-background { background: purple; }
span.red-background { background: red; }
span.silver-background { background: silver; }
span.teal-background { background: teal; }
span.white-background { background: white; }
span.yellow-background { background: yellow; }

span.big { font-size: $fontsize-biggest; }
span.small { font-size: $fontsize-smallest; }
