---
title: Dwarf Pictures
license: ccbysa
summary: >
 Custom Dwarf images of whk by Len Peralta 
type: toc
---
<h2>Information</h2>
<ul>
<li>Creator: <a href="http://www.lenperalta.com/">Len Peralta</a>
<li>License: CC BY-SA
<li>Purpose: Dwarf images for avatar and site use
</ul>
<h2>Images</h2>
<img src="whk_dwarf_sword.jpg" width="300" />
<img src="whk_dwarf_FF.png" width="300" />
<img src="whk_dwarf_cap.jpg" width="300" />

