<h1 property="name"><%=@item[:title]%></h1>
<details>
 <summary>Info</summary>
 <ul>
  <li>Copywrite <% render 'copywrite' do %><%# intentionally blank %><% end %>
  <% unless item[:author].empty? %>
   <li>Author
    <ul>
     <% @item[:author].each do |author| %>
      <li><span property="Author" typeof="Person"><a property="url" href="<%= author[:url]%>"><%= author[:name]%></a></span>
     <% end %>
    </ul>
  <% end %>
  <li>Created <span property="dateCreated"><%=@item[:created]%></span>
  <li>Last updated: <span property="dateModified"><%= @item[:modified] %></span>
 </ul>
 <% unless @item[:changes].nil? %>
  <li>Changes
   <ul>
    <% @item[:changes].each do |change| %>
     <li><%= change[:date] %>: <%= change[:description] %>
    <% end %>
   </ul>
 <% end %>
</details>
<div id=summary property="description">
 <%= @item[:summary] %>
</div>
<div property="articleBody">
<%= yield %>
</div>
