<!-- start navblock layout -->
<div class="navblock">
 <!-- span class="logospan">
  <img id="logo" src="/images/blank.gif" alt="whk">
 </span-->
 <core-toolbar class="tall" id="navspan">
   <core-icon class="middle" src="/images/androidify-whk.png" style="height: 70px; width: 70px"></core-icon> 
   <nav class="middle" flex id="menu">
    <paper-button  class="menuitem" property="hasPart" typeof="SiteNavigationElement"><a property="sameas" typeof="URL"  href="/about/">About</a><meta property="name" content="About"></paper-button>
    <paper-button  class="menuitem" property="hasPart" typeof="SiteNavigationElement"><a property="sameas" typeof="URL" href="/cookbook/">Cookbook</a><meta property="name" content="Cookbook"></paper-button>
    <paper-button  class="menuitem" property="hasPart" typeof="SiteNavigationElement"><a property="sameas" typeof="URL" href="/config/">Config</a><meta property="name" content="Config"></paper-button>
   </nav>
   <erpetu-search class="middle" src="/assets/google/customsearch.html">
   </erpetu-search>
   <!--paper-icon-button class="middle" icon="settings"></paper-icon-button-->
 <% counter = 0 -%>
   <% trail = breadcrumbs_trail -%>
   <% trail.pop -%>
   <% trail.each do  |crumb|  -%>
    <% unless crumb.nil? || crumb[:title].nil? -%>
     <% if counter == 0 -%>
       <div about="#page" class="bottom">
        <div id="breadcrumb" resource="#breadcrumb" property="breadcrumb" typeof="BreadcrumbList">Trail
     <% end -%>   
     <% counter += 1 -%>
     &raquo; <span  class="button" property="itemListElement" typeof="WebPage"><meta property="name" content="<%= crumb[:title] %>">
        <a property="sameas" typeof="URL" href="<%= crumb.path %>"><%= crumb[:title] %></a>
       </span>
    <% end -%>
   <% end -%>
     <% if counter != 0 -%>
      </div>
  </div>
     <% end %>
 </core-toolbar>
</div>
<!-- end navblock layout -->
