<!-- start navblock layout -->
<div id="navblock">
 <span id="logospan">
  <img id="logo" src="/images/blank.gif" alt="whk">
 </span>
 <div id="navspan">
   <nav id="menu">
    <span class="menuitem"><a href="/">Thoughts</a></span>
    <span class="menuitem"><a href="/cookbook/">Cookbook</a></span>
    <span class="menuitem"><a href="/config/">Config</a></span>
    <span class="menuitem"><a href="/about/">About</a></span>
   </nav>
   <% counter = 0 -%>
   <% trail = breadcrumbs_trail -%>
   <% trail.pop -%>
   <% trail.each do  |crumb|  -%>
    <% unless crumb.nil? || crumb[:title].nil? -%>
     <% if counter == 0 -%>
       <div about="#page">
        <div id="breadcrumb" property="breadcrumb" typeof="BreadcrumbList">Trail
     <% end -%>   
     <% counter += 1 -%>
     &raquo; <span  property="itemListElement" typeof="WebPage"><meta property="name" content="<%= crumb[:title] %>">
        <a property="url" typeof="URL" href="<%= crumb.path %>"><%= crumb[:title] %></a>
       </span>
    <% end -%>
   <% end -%>
     <% if counter != 0 -%>
      </div>
  </div>
     <% end %>
 </div>
</div>
<!-- end navblock layout -->
